* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.ms_bg_card {
    background-color: rgb(17 32 48);
}

.ms_bg_body {
    background-color: rgb(29 45 60);
}

.ms_bg_navbar {
    background-color: rgb(6 19 31);
}

.ms_logo {
    width: 50px;
    height: 50px;
}